<h1><%= @store.store_name %></h1>
<a href = "/stores/<%=@store.id%>/edit">Edit Name</a>
<br />
<br />

<h3>Select all shoes to have in this store:</h3>

<% if @brands.any?() %>
  <form action="/store-shoes/<%= @store.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @brands.each() do |brand| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="brand_ids[]" value="<%= brand.id() %>"><%= brand.brand_name() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add Shoes</button>
  </form>
<% else %>
  <p>There are no existing shoes to add to this store.
    <a href="/">Click here to add shoes.</a>
  </p>
<% end %>

<br />

<h3>Current shoes in this store:</h3>

<% if @store.brands().any?() %>
  <ul>
    <% @store.brands().each() do |brand| %>
      <li><%= brand.brand_name%></li>
    <% end %>
  </ul>
<% else %>
    <p>There are no shoes in this store!</p>
<% end %>

<br />

<a href="/">Home</a>
